
@font-face {
    font-family:"CeraPro-Medium";
    src:url("Cera Pro Medium.woff2") format("woff2"),url("Cera Pro Medium.woff") format("woff"),url("Cera Pro Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        