
@font-face {
    font-family:"CeraPro-Bold";
    src:url("Cera Pro Bold.woff2") format("woff2"),url("Cera Pro Bold.woff") format("woff"),url("Cera Pro Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        