<template>
	<div class="dashboard">
		<div class="block"><b>Session ID</b> {{ session.id }}</div>
		<div class="blocks-row">
			<div class="block"><b>Total Page Views</b> {{ tracking.totalPageViews }}</div>
			<div class="block"><b>Total Signups</b> {{ tracking.totalSignUps }}</div>
		</div>
		<!-- TODO: add current chosen variant -->
		<div class="blocks-row">
			<div v-for="(variants, name) in testResultsData" :key="name" class="block">
				<b>{{ name }}</b>
				<div
					v-for="(variant, variantName) in variants"
					:key="variantName"
					:class="getCurrentVariantClass(name, variantName)"
					:title="getVariantTitle(name, variantName)">
					{{ variantName }}: {{ variant }} / {{ getVariantCTR(name, variantName) }}%
					<svg
						class="icon"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 24 24"
						>
							<path d="M22.3 4.2l-2.8-.4-.4-2.8-3 3c-1.5-.9-3.3-1.5-5.2-1.5C5.4 2.5 1 7 1 12.4c0 5.5 4.4 9.9 9.9 9.9s9.9-4.4 9.9-9.9c0-1.9-.5-3.7-1.5-5.2zm-5.6.9l.4-.4 1.2-1.2.2 1.4 1.4.1-1.2 1.2-.4.4-.1.1-.6-.1-.8-.1-.1-.8-.1-.6zm2.9 7.3c0 4.8-3.9 8.7-8.7 8.7s-8.7-3.9-8.7-8.7 3.9-8.7 8.7-8.7c1.6 0 3.1.4 4.4 1.2l.3 2-.4.4c-1.2-1-2.6-1.5-4.3-1.5a6.7 6.7 0 106.7 6.7c0-1.6-.6-3.1-1.6-4.3l.4-.4 2.1.3c.7 1.2 1.1 2.7 1.1 4.3zm-8.4.5l1.6-1.6c.2.3.3.7.3 1.1 0 1.2-1 2.2-2.2 2.2s-2.2-1-2.2-2.2 1-2.2 2.2-2.2c.4 0 .8.1 1.1.3l-1.6 1.6zm1.6-3.3c-.5-.3-1.2-.6-1.9-.6-1.9 0-3.4 1.6-3.4 3.4 0 1.9 1.5 3.4 3.4 3.4s3.4-1.5 3.4-3.4c0-.7-.2-1.4-.6-2L15.2 9c.8.9 1.2 2.1 1.2 3.5 0 3-2.5 5.5-5.5 5.5s-5.5-2.5-5.5-5.5S7.9 7 10.9 7c1.3 0 2.5.5 3.4 1.2z"></path>
						</svg>
				</div>
			</div>
		</div>
		<div class="buttons">
			<button @click="reloadPage" class="button">Reload Page</button>
			<button @click="loadNewUser" class="button">Load New User</button>
			<button @click="resetTest" class="button alert">Reset Test</button>
		</div>
	</div>
</template>

<script>
import Cookie from 'js-cookie';

export default {
	name: "Dashboard",
	computed: {
		ab() {
			return this.$store.state.ab;
		},
		session() {
			return this.$store.state.session;
		},
		tracking() {
			return this.$store.state.tracking;
		},
		testResultsData() {
			if (!this.ab.results) {
				return null;
			}

			const sessionsIds = Object.keys(this.ab.results);

			if (!sessionsIds.length) {
				return {};
			}

			const testNames = Object.keys(this.ab.results[sessionsIds[0]]);

			let accumulator = {};
			
			testNames.forEach(name => accumulator[name] = {});

			sessionsIds.reduce((acc, sessionId) => {
				testNames.forEach(name => {
					const variant = this.ab.results[sessionId][name];

					if (!acc[name][variant]) {
						acc[name][variant] = 0;
					}
					acc[name][variant] += 1;

					return acc;
				});

				return acc;
				
			}, accumulator);

			return accumulator;
		},
	},
	methods: {
		loadNewUser() {
			Cookie.remove('session_id');
			window.location.reload();
		},
		isWinning(name, variantName) {
			return this.ab.lastResults[name] && this.ab.lastResults[name] === variantName;
		},
		getCurrentVariantClass(name, variantName) {
			return {
				'current-variant' : this.isWinning(name, variantName),
			};
		},
		getVariantTitle(name, variantName) {
			return this.isWinning(name, variantName) ? `Current variant for ${name}` : '';
		},
		getVariantCTR(testName, variantName) {
			const pageviews = this.ab.winnersResults?.[testName]?.[variantName]?.pageviews || 0;
			const signups = this.ab.winnersResults?.[testName]?.[variantName]?.signups || 0;

			return parseInt(( signups / pageviews ) * 100) || 0;
		},
		resetTest() {
			Cookie.remove('session_id');
			Cookie.remove('total_page_views');
			Cookie.remove('total_signups');
			Cookie.remove('ab_test_results');
			Cookie.remove('ab_test_last_results');
			Cookie.remove('ab_test_winners_results');

			window.location.reload();
		},
		reloadPage() {
			window.location.reload();
		},
	}
};
</script>

<style scoped lang="scss">
	.dashboard {
		background: #f1f6f4;
		border-radius: 4px;
		font-family: CeraPro-Light, Arial;
		margin: 16px auto 0;
		max-width: 425px;
		padding: 16px;
	}

	.blocks-row {
		display: flex;
		gap: 10px;
		justify-content: space-between;
	}

	.block {
		background: #d7e9ff;
		border-radius: 4px;
		flex-grow: 1;
		margin-bottom: 16px;
		padding: 11px 16px;
	}

	b {
		font-family: CeraPro-Bold, Arial;
	}

	hr {
		margin: 15px 0 17px;
	}

	.buttons {
		display: flex;
		gap: 10px;
		justify-content: space-between;
	}

	.button { 
		align-items: center;
		background-color: #2ce080;
		border: 2px solid #2ce080;
		border-radius: 4px;
		color: #03314b;
		cursor: pointer;
		display: inline-flex;
		flex-grow: 1;
		font-family: CeraPro-Medium, Arial;
		font-weight: 500;
		line-height: 16px;
		justify-content: center;
		outline: none;
		padding: 11px;
		text-align: center;
		text-decoration: none;

		&:hover {
			background-color: #20ba68;
			border-color: #20ba68;
			color: #03314b;
		}

		&.alert {
			background-color: #ff90a0;
			border-color: #ff90a0;

			&:hover {
				background-color: #fb8596;
			}
		}
	}

	.current-variant {
		.icon {
			display: inline;
		}
	}

	.icon {
		display: none;
		height: 18px;
		vertical-align: text-bottom;
		width: 18px;
	}
</style>
