<template>
	<div class="post">
		<h1 class="header">Check out the Blinkist app</h1>

		<div class="image-wrapper">
			<ab
				name="hero"
				:weight="{hero1: 1, hero2: 1, hero3: 1}"
			>
				<!-- Control variation -->
				<img
					slot="hero1"
					width="300"
					src="@/assets/images/hero-1.jpg"
					alt="Check out the Blinkist app"
					class="image"
				/>
				<!-- Test variation -->
				<img
					slot="hero2"
					width="300"
					src="@/assets/images/hero-2.jpg"
					alt="Check out the Blinkist app"
					class="image"
				/>
				<!-- Test variation -->
				<img
					slot="hero3"
					width="300"
					src="@/assets/images/hero-3.jpg"
					alt="Check out the Blinkist app"
					class="image"
				/>
			</ab>
		</div>

		<ab
			name="text"
			:weight="{text1: 1, text2: 1}"
			class="text"
		>
			<!-- Control variation -->
			<div slot="text1">
				Meet the app that revolutionized reading.
			</div>

			<!-- Test variation -->
			<div slot="text2">
				Meet the app that has 18 million users.
			</div>
		</ab>


		<div>
			Thanks a lot for reading the article!
			<a href="/signup" @click.prevent.stop="track" class="link">SIGN UP</a> for Blinkist.
		</div>
	</div>
</template>

<script>
import Ab from './Ab';
import { trackOnce, eventTrackedOnce } from '@/utils/tracker';

export default {
	name: "Post",
	components: {
		Ab,
	},
	computed: {
		session() {
			return this.$store.state.session;
		},
	},
	methods: {
		track() {
			if (!eventTrackedOnce({name: 'Signup'}, this.session.id)) {
				this.$store.commit('tracking/incrementSignUps');
				trackOnce({name: 'Signup'}, this.session.id);
				this.$store.dispatch('ab/updateVariantSignUps');
			}
		}
	}
};
</script>

<style scoped lang="scss">
	.post {
		background: #f1f6f4;
		border-radius: 4px;
		padding: 16px;
		max-width: 425px;
		margin: 0 auto;
	}

	.header {
		font-family: CeraPro-Bold, Arial;
		color: #03314B;
		margin: 0 0 16px;
	}

	.image-wrapper {
		background-color: #ececec;
		border-radius: 4px;
		margin-bottom: 16px;
		overflow: hidden;
		padding-top: 70%;
		position: relative;
	}

	.image {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		vertical-align: bottom;
		width: 100%;
	}

	.link {
		color: #116be9;

		&:hover {
			color: #0552be;
		}
	}

</style>
