
@font-face {
    font-family:"CeraPro-Light";
    src:url("Cera Pro Light.woff2") format("woff2"),url("Cera Pro Light.woff") format("woff"),url("Cera Pro Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        