<template>
	<div id="app">
		<post />
		<dashboard />
	</div>
</template>

<script>
import { trackNewSessionPageview } from '@/utils/tracker';
import Dashboard from '@/components/Dashboard.vue';
import Post from '@/components/Post.vue';

export default {
	name: 'App',
	components: {
		Dashboard,
		Post,
	},
	computed: {
		session() {
			return this.$store.state.session;
		},
	},
	created() {
		this.trackNewSessionPageview();
	},
	methods: {
		trackNewSessionPageview() {
			if (this.session.isNew) {	
				trackNewSessionPageview(this.session.id);
				this.$store.commit('tracking/incrementPageViews');
			}
		},
	},
}
</script>

<style lang="scss">
	html {
		height: 100%;
	}

	body {
		display: flex;
		flex-direction: column;
		font-family: CeraPro-Light, Arial;
		align-content: space-between;
		min-height: 100%;
		justify-content: center;
	}
</style>